mixin button({auth})
  each item in auth
    - const { link, title, border, theme } = item
      a.button(
        class=border ? `button_border-${border.color}` : ""
        class=theme ? `button_theme-${theme.color}` : ""
        href=link)= title